<%= render 'banner' %>
<div class="container">
  <div class="cards-grid">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), :action => 'go' do %>
        <div class="card-trip">
          <%= cl_image_tag list.photo.key, height: 150, width: 100, crop: :scale, class: 'card-img-top' %>
          <div class="card-trip-infos">
            <h2><%= list.name %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
